html {
    font-family: sans-serif;
}

h1 {
    color: #d40009;
}

.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.image-container > img {
    width: 200px;
}